@import '../../styles/globals.scss';



.sectionHead{
    padding-top: 100px;
    a{
        text-decoration: none !important;
        padding: 6px 20px;
        border-radius: 10px;
    }
}


.BlogItemDetail{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 30px;
  border-radius: 14px;
}

.sliderText{
    padding: 20px;
    padding-top: 8px;
    margin-top: -5px;
    background-color: #fff;
    border-bottom-left-radius: 14px !important;
    border-bottom-right-radius: 14px !important;
    p{
        margin-top: 5px;
        color: rgb(148, 146, 146);
        font-size: 14px;
        padding-top: 3px;
    }
    .eye{
        font-size: 18px;
        margin-right: 10px;
    }
    .watch{
        font-size: 15px;
    }
    a{
        color: $borderColor !important;
        text-decoration: none;
    }
    .rightArrow{
      margin-left: 10px;
    }
  
}
.swiper {
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100% !important;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 300px !important;
  }

 

  
  .img {
    display: block;
    width: 100%;
    height: 100px !important;
    object-fit: cover;
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
  }
  
  .swiper-pagination-bullet-active{
    background-color: $borderColor !important;
    color: $borderColor !important;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet{
    background-color: $borderColor !important;
    color: $borderColor !important;
  }