@import '../../styles/globals.scss';


.categoryItem{
    height: 130px;
   
   background-clip: border-box;
    padding: 30px;
    text-decoration: none !important;
    border-radius: 12px;
    transition: .5s ease;
    margin-bottom: 30px;
    &:hover{
        transform: scale(0.9);
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    }
    h5{
        display: flex;
        align-items: end;
        height: 100%;
        text-decoration: none !important;
        font-size: 18px;
        font-weight: 600;
    }
  
}

