@import '../../styles/globals.scss';

.iconContent{
    position: relative;
    &::before{
        position: absolute;
        content: '';
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 30px;
        background-color: $scrollColor;
        margin-top: 20px;
        animation-name: scrollDownFunc;
        animation-timing-function: ease-in-out;
        animation-duration: .8s;
        animation-delay: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @include responsive(768px){
            animation: none;
        }
        @keyframes scrollDownFunc {
            from{
                margin-top: 20px;
            }
            to{
                margin-top: 30px;
            }
        }
    }
    .scrollIcon{
        font-size: 28px;
        color: $scrollColor;
      
    }
}
