@import '../../styles/globals.scss';

/* import the DropDownList dependency styles */




.filter{
    margin-top: 40px;
    .filterContent{
        .formControl{
           
        }
    }
}

.filterList{
    .allFilterContent{
        display: none;
        &.activeFilterList{
            display: block;
        }
    }
}

