@import '../../styles/globals.scss';


.advertItem {
    margin-top: 60px;

    .advertHead {
        h2 {
            font-size: 32px;
            font-weight: 600;
            font-family: 'Mali', cursive;
            @include responsive(576px) {
                font-size: 17px;
            }
        }

        .moreBtn {
            a {
                text-decoration: none;
                padding: 6px 20px;
                border-radius: 10px;
                transition: .5s ease;

                &:hover {
                    border-radius: 0;
                    border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;
                }

                @include responsive(576px) {
                    padding: 4px 12px;
                    font-size: 14px;
                }
            }
        }
    }
}

.advertCard {
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 16px !important;

    // margin-left: 10px;
    // height: 360px;
    .cardImg {
        overflow: hidden;
        position: relative;
        border-top-left-radius: 16px !important;
        border-top-right-radius: 16px !important;

        .img {

            transition: .5s ease;

            &:hover {
                transform: scale(1.1);
                border-radius: 16px !important;
            }

        }

        .imgContent {
            top: 0;
            right: 15px;
            z-index: 20;
            width: 100%;

            .top {
                position: absolute;
                top: 10px;
                width: 100%;

                .icon {
                    .wishDiv {
                        background-color: #fff;
                        padding: 8px 10px;
                        border-radius: 100%;
                        transition: 0.5s ease;

                        @include responsive(576px) {
                            padding: 7px 8px;
                        }
                        @include responsive(340px) {
                            padding: 4px 5px;

                        }

                        &:hover {

                            transform: rotate(360deg);
                        }

                        .wishIco {
                            margin-top: 3px;
                            color: $borderColor;
                            font-size: 18px;

                            @include responsive(576px) {
                                font-size: 18px;
                            }
                            @include responsive(340px) {
                                font-size: 13px;
                            }
                        }
                    }
                }

                .imgText {

                    @include responsive(576px) {}

                    p {
                        padding: 3px 15px;
                        color: $borderColor;
                        background-color: #fff;
                        font-weight: 600;
                        border-radius: 8px;
                        font-size: 15px;
                        font-family: 'Mali', cursive;
                        @include responsive(576px) {
                            font-size: 12px;
                        }
                        @include responsive(340px) {
                            font-size: 8px;
                        }
                    }
                }

            }

            .bottom {
                position: absolute;
                bottom: 0px;
                right: 0px;

                p {
                    padding: 0px 15px;
                    background-color: $borderColor;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;

                    @include responsive(576px) {
                        padding: 0px 10px;
                        font-size: 14px;
                    }
                    @include responsive(340px) {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .cardText {
        padding: 15px;

        a {
            text-decoration: none;
            color: #000;

            h4 {
                font-size: 16px;
                font-weight: 600;
                font-family: 'Mali', cursive;
                @include responsive(576px) {
                    font-size: 11px;
                }
                @include responsive(340px) {
                    font-size: 8px;
                }
            }
        }

        .altText {
            margin-top: 10px;

            p {
                color: rgb(175, 173, 173);
                font-size: 13px;
                @include responsive(576px) {
                    font-size: 11px;
                }
                @include responsive(340px) {
                    font-size: 6px;
                }
            }
        }
    }
}