@import '../../styles/globals.scss';


.staticBar {
    width: 60px;
    height: 200px;
    position: fixed;
    right: 2px;
    top: 0;
    z-index: 10;
 
    @include responsive(1110px){
        top: 50%;
    }
   
    .desktopStaticBar{
        @include responsive(1110px){
            display: none;
        }
    }
    .top {
        background-color: $staticBarPlusBg;
        width: 60px;

        .plusIcon {
            .plusIco {
                margin-left: 8px;
                font-size: 50px !important;
                color: #fff;
            }
        }
    }

    .middle {
        background-color: $middleBg;
        height: 500px;

        .uIco {
            padding: 10px;
            .wishList{
                margin-top: 30px;
                span{
                    position: absolute;
                    left: 35px;
                    top: 83%;
                    padding: 0.5px 4.5px;
                    font-size: 11px;
                    color: #DC7E69;
                    border-radius: 100%;
                    border: 0.5px solid #DC7E69;
                }
                a{
                    position: relative;
                }
            }
            .searchIco,
            .userIco,
            .wishIco {
                display: block;
                margin-top: 20px;
                font-size: 26px;
                margin-left: 10px;
                color: $staticBarPlusBg;
                transition: .5s ease;
                cursor: pointer;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        .socialIcons{
          margin-top: 200px;
            .fb, .ig, .tg{
                display: block;
                color: $staticBarPlusBg;
                font-size: 20px;
                margin-left: 20px;
                margin-top: 20px;
                transition: .5s ease;
                &:hover{
                    transform: rotate(360deg) scale(1.2);
                }
            }
        }
    }
}
.closeIco{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

.responsiveStaticBar{
    display: none;
    .plusIcon{
        padding: 10px 4px;
            background-color: #DC7E69;
            text-align: center;
            display: flex;
            border-radius: 100%;
            justify-content: center;
        .plusIco{
            color: #fff;
            font-size: 40px;
            text-align: center;
            display: flex;
            justify-content: center;
            margin-left: 1px;
        }

    }
    @include responsive(1110px){
        display: block;
    }
}