@import './globals.scss';

.aboutContent {
    .about {
        margin-top: 50px;

        .headText {
            margin-bottom: 30px;

            h1 {
                font-weight: 600;
                font-size: 40px;
            }
        }

        .aboutText {
            p {
                word-break: break-all;
            }
            ul{
                li{
                    padding-bottom: 30px;
                }
            }
        }

        .aboutImgBox {
            @include responsive(992px) {
                margin-top: 20px;

            }
        }
    }
}