@import './globals.scss';


.addCvPage{
    
    .cvHead{
        margin-top: 50px;
        margin-bottom: 50px;

    }
    form{
        margin: auto;
        background-color: #FAFAFA;
        padding: 40px;
        label{
            margin-bottom: 10px;
        }
        input{
            outline: none;
            border: 1px solid #ccc;
            padding: 12px 10px;
            width: 100%;
            margin-bottom: 40px;
            border-radius: 8px;
        }
        textarea{
            width: 100%;
            border: 1px solid #ccc;
            outline: none;
            border-radius: 8px;
            height: 120px;
            margin-bottom: 40px;
        }
    }
}