

$dfBg: #000;
$defaultTextColor:#000;
$staticBarPlusBg:#DC7E69;
$middleBg: #FFF2EF;
$categoryItemBgOne:#FFDCD2;
$scrollColor: #ECA621;
$borderColor:#F0B74C;
$staticLinkColor: #B6B6B6;
$registerColor:#80BC96;
$jobsHeadColor:#82CDED;