@import './globals.scss';

.placeDetail {
    .headText {
        margin-bottom: 50px;

        ul {
            li {
                margin-right: 5px;

                a {
                    text-decoration: none;
                    color: $staticLinkColor;
                    font-size: 15px;
                    @include responsive(375px){
                        font-size: 12px;
                    }
                    &.activePage {
                        color: #000;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .leftTop {
        margin-left: 30px;

        @include responsive(576px) {
            margin-left: 0 !important;
        }

        .sliderDetail {
            .detailSliderImg {
                height: 350px;
                width: 100%;
                object-fit: cover;
            }

            .detailSliderImgBottom {
                height: 85px;
                width: 100%;
            }

        }
        .advertPersonAbout{
            @include responsive (768px){
                display: none;
            }
        }
    }

    .rightTop {
        .headText {
            @include responsive (992px) {
                margin-top: 20px;
            }

            .productName {
                h1 {
                    font-size: 28px;

                    
                    @include responsive (576px) {
                        font-size: 22px;
                    }
                    @include responsive (375px) {
                        font-size: 12px;
                    }
                }
            }

            .share {
                margin-top: 7px;
                @include responsive(375px){
                    margin-top: 0;
                }
                .shareIco {
                    padding-right: 3px !important;
                }
            }
        }

      
       
    }
    .placeDescription{
        margin-top: 40px;
        margin-left: 30px;
        @include responsive(992px){
            margin-left: 0px;
        }

        .accText{
            @include responsive(576px){
                font-size: 13px;
            }
        }
    }
    .contactInfo{
        ul{
            padding: 0;
            li{
                display: flex;
                align-items: center;
                padding: 10px 0;
                .ico{
                    margin-right: 10px;
                    color: $scrollColor;
                }
            }
        }
    }
   
}