@import './globals.scss';

.myContainer{
    width: 90%;
    margin: auto;
}
.headTextProduct{
    font-family: 'Mali', cursive;
    h1{
        font-size: 30px;
        font-weight: 600;
    }
}
.categoryListProduct{
    font-family: 'Mali', cursive;
    position: sticky;
    top: 180px;
    @include responsive(1199px){
        display: none;
    }
}
.productMain{
    font-family: 'Mali', cursive;
    position: relative;
}

